.home-bgImg-container {
  @include bgImage(40vh, $main-bgImage-path);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .projects__bio-image {
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
